.main {
  padding: 100px 0 20px 0;

  &__container {
  }

  &__body {
    height: 100%;
    display: grid;
    grid-template: 1fr / 360px 1fr;

    @media(max-width: 519.98px) {
      grid-template: 1fr / repeat(auto-fit, minmax(260px, 1fr));
    }
  }

  &__content {
  }

  &__particles {
  }
}
